body {
    background-color: aquamarine!important;
}

.container {
    min-height: 100vh;
    background-color: aquamarine!important;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.quizCard {
    width: 30rem;
}

.questionFutter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid rgba(0, 0, 0, 0.4);
    padding-top: 10px;
}

#questionCounterId {

}
